{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
    .card {
        background-color: #333; 
        margin: 10px; 
        border-radius: 10px; 
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    .card:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }
</style>

<div class="container fade-in" style="margin-top: 100px; text-align: left; color: white;">
    <div class="row">
        {% for paper in publications %}
        <div class="col-md-6">
            <div class="card">
                <img src="{% if paper.cover_photo %}{{ paper.cover_photo.url }}{% else %}{% static 'media/cover_photos/default.png' %}{% endif %}" alt="{{ paper.title }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 18px;"><strong>{{ paper.title }}</strong></h5>
                    <p class="card-text" style="font-size: 14px;">{{ paper.description }}</p>
                    <p class="card-text" style="font-size: 14px;"><strong>Author(s):</strong> 
                        {% for author in paper.authors.all %}
                            <img src="{{ author.image.url }}" alt="{{ author.name }}" style="width: 20px; height: 20px; border-radius: 50%; margin-right: 5px;">
                            {{ author.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <a href="{% if paper.file %}{{ paper.file.url }}{% else %}{{ paper.link }}{% endif %}" style="color: cyan; text-decoration: none; font-size: 14px;" target="_blank"><strong>Read More</strong></a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No research papers available at the moment.</p>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const container = document.querySelector('.fade-in');
        container.classList.add('visible');
    });
</script>
{% endblock %}
