{% extends 'base_layout.html' %}

{% block content %}
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                    <span>/</span>
                    <span>Dashboard</span>
                </h4>
            </div>
        </div>
        <!-- Heading -->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-9 mb-4">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">
                <!--Card-->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header text-center">
                        Pie chart
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4">
                <!--Card-->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">Line chart</div>
                    <!--Card content-->
                    <div class="card-body">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4">
                <!--Card-->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">Radar Chart</div>
                    <!--Card content-->
                    <div class="card-body">
                        <canvas id="radarChart"></canvas>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4">
                <!--Card-->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">Doughnut Chart</div>
                    <!--Card content-->
                    <div class="card-body">
                        <canvas id="doughnutChart"></canvas>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4">
                <!--Card-->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">Horizontal Bar Chart</div>
                    <!--Card content-->
                    <div class="card-body">
                        <canvas id="horizontalBar"></canvas>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock %}
<!-- End of Selection -->