{% extends 'base_layout.html' %}

{% block content %}
    <div class="container-fluid mt-5 d-flex">
        <div class="flex-grow-1">
            <h2 class="text-center">Member Registration List</h2>
            <table class="table table-bordered text-center mt-3">
                <thead>
                    <tr>
                        <th style="color: black;">ID</th>
                        <th style="color: black;">First Name</th>
                        <th style="color: black;">Last Name</th>
                        <th style="color: black;">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td style="color: black;">{{ member.id }}</td>
                            <td style="color: black;">{{ member.first_name }}</td>
                            <td style="color: black;">{{ member.last_name }}</td>
                            <td style="color: black;">{{ member.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
